.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  /*height: 31px;*/
  height: 40px;
  /*background: rgba(255, 255, 255, 0.2);*/
  background: url("logo150x90.png") no-repeat;
  /*margin: 16px 24px 16px 0;*/
  margin: 12px 24px 12px 0;
  float: left;
}

.fixed-size {
  width: 50%;
}

.digital-clock {
  text-align: left !important;
  color: #222222 !important;
  background: #1890ff;
  height: 32px;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 32px;;
}
